extends layout

block content
   h1 Customer Data
      p Name: #{name}
      p Email: #{email}
      p Address: #{address}
      p City: #{city}
      p Zip: #{zip}
      img(src=image alt=name class="round" )